.App {
  text-align: center;
}

.container{
margin-top : 50px;
}

.btn .grey{
 margin-top: 50px;
}

a.brand-logo{
  padding-left: 50px;
}

 i.circle{
	
		font-size: 18px;
		line-height: 42px;
		color: #fff;
		background-color: #999;
		text-align: center;
	}
.icon .circle {
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
  width: 42px;
  height: 42px;
  overflow: hidden;

}

i .trash{
  float:left;
  margin-right: 16px;
}

.item{
  margin: 10px;
}

.options{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.options ul li{
  display: inline;

}